@font-face {
    font-family: 'digifacewide';
    src: url('../src/digifacewide.ttf');
}
@font-face {
    font-family: 'VonwaonBitmap';
    src: url('../src/VonwaonBitmap.ttf');
}
* {
    font-family: 'digifacewide',"VonwaonBitmap"; 
    font-size: 3vw;
}
/* body {
    background-color: #f8f9fa;
} */
.col>span:first-child{
    color: #fff;
    -webkit-text-stroke: 2px #333;
}
#now_date {
    color: #3c405a;
    text-shadow: 0 0 2px #333;

}

#now_time{
    color: #096c7d;
    color: #ed5a35;
    text-shadow: 0 0 3px #c23411;
        /* color: #1de65a;
    text-shadow:0 0 5px #13aa41; */
}
#now_date:hover,
#now_time:hover {
    color: #21f661;
    -webkit-text-stroke: 2px #333;
    text-shadow: none;
}
/* #remain_time {
    color: #1d110070;
} */
/* #now_date:hover,
#now_time:hover,
#remain_time:hover,
.data:hover{
    font-size: 3.2vw;
    transition: all 0.2s ease;
}  */


.main {
    position: relative;
    height: 5vw;
    width: 63.5vw;
    background: #787878;
    /* margin: 100px auto; */
    border-radius: 1vw;
    left: 0vw;
}

.inner {
    height: 3.3vw;
    width: 0vw;
    background: #db172a;
    position: absolute;
    top: 0.9vw;
    border-radius: 0.7vw;
    overflow: hidden;
}

.line {
    position: relative;
    /* left: 0.1vw; */
    top: 2vw;
    width: 59vw;
    border-top: 0.7vw dotted #fff;
}

img {
    position: absolute;
    top: 0px;
    left: -3vw;
    height: 5vw;
}
img:hover{
    animation: roll 0.5s ease 0s infinite;
}

@keyframes roll {
    0% {
    transform: rotate(0deg);

    }
    50% {
    transform: rotate(60deg);

    }
    75% {
    transform: rotate(-60deg);

    }
}

.data {
    position: absolute;
    
    left: 0vw;
    top: 4.5vw;

    text-align: center;
    z-index: 1;
    color: #000;
    text-shadow: 0 0 5px #ffffff;

}   
input[type="button"]{
    color: #fff !important;
    background-color: #1b2d3e;
    border: none !important;
    top: -1vw !important;
    display: inline-block !important;
    position: relative !important;
    font-size: 1vw;
}
input#copy:hover {
    background-color: #21f661;
    border: 2px solid #000 !important;
}